* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Inter", Helvetica, sans-serif;
    font-size: 18px;
    --header-black: #25252c;
    --header-white: #fffefc;
    --header-orange: #b47034;
    --footer-yellow: #c78f23;
    --icon-gray: #505155;
    --section-gray: #dadada;
}

body {
    background-color: var(--header-white);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    color: black; 
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 0 0px 40px 0;
}

.slider {
    display: inline-flex;
    margin: 0px auto 50px auto;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slider-card {
    display: flex;
    text-align: center;
    background-color: var(--header-black);
    flex: 0 0 100%;
    color: var(--header-white); 
}

.slider-card:nth-child(odd) {
    animation: sliderMovement1 15s linear 0s infinite;
}

.slider-card:nth-child(even) {
    animation: sliderMovement2 15s linear 7.5s infinite;
}

.slider:hover .slider-card {
    animation-play-state: paused;
}

.slider-card > img {
    flex: auto;
    width: 30%;
    object-fit: cover;
}

.slider-card #txt-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--header-white);
    width: 60%;
}

.slider-card #txt-container h1 {
    color: var(--header-orange);
}

.subtitulo {
    margin: 20px 0;
    color: #6c6969;
    font-weight: bolder;
}

section .subtitulo {
    color: black;
    margin: 20px 0 10px 0;
}

.descripcion {
    font-size: 0.8rem;
    margin: 20px 0;
    color: black; 
}

.slider-arrows {
    position: absolute;
    align-self: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-arrows img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin: 10px;
}

.orangeText {
    color: var(--header-orange);

}

#main-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    width: 100%;
    
}

#main-info section {
    width: 45%;
}

#main-info section .btnNegro {
    justify-self: right;
}

.imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
}

.imgContainer .imgSearch {
    width: 32%;
    height: 100%;
}

.btnNegro {
    padding: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: black;
    border: none;
    color: aliceblue;
    width: 150px;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 20px 0;
}

.btnNegro p {
    align-self: center;
}

.btnNegro img {
    height: 30px;
}

.btnNegro:hover {
    color: var(--header-orange);
    box-shadow: 0 0 5px black;
    animation: btnNegroMovement linear 0.8s infinite;
}

.svg-color:hover img {
    filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(-20deg);
}

.imgSearch {
    position: relative;
    overflow: hidden;
}

.imgSearch .snkrImg {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    object-fit: cover;
}

.imgSearch:hover .snkrImg {
    transform: scale(1.1);
}

.imgSearch .searchImg {
    display: none;
    position: absolute;
    background-color: rgba(128, 128, 128, 0.411);
    border-radius: 40px;
    padding: 10px;
    margin: 5px;
    width: 40px;
    height: 40px;
}

.imgSearch:hover .searchImg {
    display: inline;
    cursor: pointer;
}

.info {
    margin: 0 auto;
    width: 98%;
}

.info > h1 p {
    font-size: 4rem;
    font-style: italic;
    font-weight: 400;
    filter: drop-shadow(5px 0px 2px #0000006f);
    padding: 30px 0;
    letter-spacing: 8px;
    color: black; 
}

.info > h1 {
    margin: 30px 0;
    border-top: 3px solid #bfbfc3;
    border-bottom: 3px solid #bfbfc3;
    text-align: center;
}

.info-container {
    display: flex;
    gap: 50px;
    margin: 40px auto;
    width: 97%;
}

.line-br {
    background-color: #bfbfc3;
    height: 3px;
    margin: 20px auto;
    width: 95%;
}

@keyframes btnNegroMovement {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sliderMovement1 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes sliderMovement2 {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes iconExpand {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

section p:nth-of-type(2) {
    color: black;
}

@media (max-width: 1500px) {
    
    main #main-info{
        flex-direction: column;
        gap: 20px;  
    }
    main #main-info section{
        border: 2px solid black;
        padding: 15px;
    }
    #main-info section{
        width: 100%;
    }
    .imgContainer{
        width: 100%;
        height: 300px;
    }
}

/* Móvil */
@media (max-width: 800px) {
}